.section {
  /* padding: 70px 5% 20px 5%;
    font-family: Open Sans, sans-serif;
    background-color: #f4f4f4;
    font-family: Open Sans, sans-serif; */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  touch-action: none;
  background: #151520;
}

.section h1 {
  padding: 20px 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.viewSectionLeft {
  display: flex;
}

.viewSectionLeft div {
  width: 50%;
}

.viewSectionLeft p {
  margin: 0;
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  width: 50%;
  padding-left: 25px;
  box-sizing: border-box;
}

.viewSectionLeft img {
  width: 100%;
}

.viewSectionRight {
  display: flex;
}

.viewSectionRight div {
  width: 50%;
}

.viewSectionRight p {
  margin: 0;
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  width: 50%;
  padding-right: 25px;
  box-sizing: border-box;
}

.viewSectionRight img {
  width: 100%;
}

@media only screen and (max-width: 705px) {
  .viewSectionLeft {
    flex-direction: column-reverse;
  }
  .viewSectionRight {
    display: block;
  }
  .viewSectionLeft div {
    width: 100%;
  }
  .viewSectionRight div {
    width: 100%;
  }
  .viewSectionLeft p {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 20px;
  }
  .viewSectionRight p {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 20px;
  }
}
