.section {
    margin-top: 70px;
    line-height: 30px;
    font-family: Open Sans, sans-serif;
    background-color: #f4f4f4;
}

.wrapper {
    margin: 0 5%;
}

.aboutContent {
    border-top: 1px solid #eee;
    padding-bottom: 30px;
}

.aboutContent p {
    text-align: justify;
}

.aboutUsCover {
    font-size: 28px;
    font-weight: 600;
    color: teal;
    margin-top: 0;
    padding-top: 20px;
}

.contactUsCover {
    font-size: 28px;
    font-weight: 600;
    color: teal;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 20px 0;
    margin-bottom: 20px;
}

.formContainer {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactsInput {
    width: 48.5%;
    margin-bottom: 20px;
}

.contactsInput input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: 0;
    font-size: 14px;
}

.contactsTextArea {
    width: 100%;
}

.contactsTextArea textarea {
    border: 1px solid #ddd;
    box-sizing: border-box;
    outline: 0;
    resize: none;
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 14px;
}

.sendButton {
    margin-top: 10px;
    width: 100%;
}

.sendButton button {
    color: #fff;
    font-size: 13px;
    padding: 5px 40px;
    cursor: pointer;
    background: #11a173;
    border: 1px solid #11a173;
    font-weight: 700;
}

.error {
    border: 1px solid red !important;
}

.errorMessage {
    width: 100%;
    border-radius: 10px;
    background-color: #f2dede;
    color: #a94442;
    margin-bottom: 25px;
    border-radius: 2px;
    padding: 5px;
}

.successMessage {
    width: 100%;
    border-radius: 10px;
    background-color: #11a173;
    color: #fff;
    margin-bottom: 25px;
    border-radius: 2px;
    padding: 5px;
}

@media only screen and (max-width: 520px) {
    .contactsInput {
        width: 100%;
    }
}