.section {
  background-color: #f4f4f4;
  margin-top: 70px;
  line-height: 30px;
  font-family: Open Sans, sans-serif;
}

.wrapper {
  padding-top: 20px;
  margin: 0 5%;
}

.technologiItem h1 {
  margin: 20px 0;
  padding: 15px 0;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.technologiItem p {
  text-align: justify;
}

.technologiItem img {
  max-width: 800px;
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .technologiItem p {
    font-size: 14px;
  }
}

.header {
  width: 100%;
  height: 70px;
  position: absolute;
  background-color: #ffff;
}
