.mainDiv {
  background-color: #f4f4f4;
  min-height: calc(100vh - 70px);
  width: 100%;
  height: 100%;
}

.mainDiv h1 {
  margin: 50px 0;
}

.backgroundImage {
  position: relative;
  height: 100vh;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.TellUs {
  position: absolute;
  padding: 0 5%;
  top: 55%;
  bottom: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutCompany {
  color: #fff;
  text-align: left;
  width: 40%;
}

.aboutCompany h1 {
  font-size: calc(1.2605vw + 7.09244px);
  font-weight: 800;
  line-height: 1.2;
  background-color: rgb(0 0 0 / 54%);
  /* border-radius: 15px; */
  padding: 10px;
}

.aboutCompany p {
  font-weight: 400;
  line-height: 1.4;
  background-color: rgb(0 0 0 / 54%);
  /* border-radius: 15px; */
  padding: 10px;
}

.form {
  max-width: 550px;
  background-color: rgb(0 0 0 / 65%);
  width: 40%;
  padding: 2%;
  box-sizing: border-box;
}

.form h2 {
  color: white;
  margin-top: 0;
}

.form form {
  width: 100%;
  padding: 0;
}

.form input[type="text"] {
  font-weight: 400;
  padding: 10px 10px;
  margin-bottom: 15px;
  line-height: 20px;
  width: inherit;
  box-sizing: border-box;
  outline: 0;
  height: 5%;
}

.form input[type="text"]::placeholder {
  color: black;
}

.form textarea::placeholder {
  color: black;
}

.form textarea {
  resize: none;
  font-weight: 400;
  padding: 2% 10px 50px 10px;
  margin-bottom: 16px;
  line-height: 20px;
  width: inherit;
  box-sizing: border-box;
  outline: 0;
  height: 5%;
}

.form button {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 38px;
  color: #fff;
  padding: 5px 40px;
  cursor: pointer;
  background: #0e805c;
  border: 1px solid #0e805c;
}

.advantages {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  text-align: justify;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

.advantagesCol {
  padding: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.developmentCycle div {
  text-align: left;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.developmentCycle p {
  margin: 30px 0;
  text-align: justify;
}

.advantagesImg {
  height: 130px;
}

.developmentCycle img {
  width: 100%;
  margin-bottom: 50px;
}

.shouldChoose {
  padding: 0 5%;
}

.developmentCycle {
  padding: 0 5%;
  max-width: 1200px;
  margin: auto;
}

.error {
  border: 3px solid red;
}

.errorMessage {
  border-radius: 10px;
  background-color: #f2dede;
  color: #a94442;
  margin-bottom: 25px;
  border-radius: 2px;
  padding: 5px;
}

.successMessage {
  border-radius: 10px;
  background-color: #11a173;
  color: #fff;
  margin-bottom: 25px;
  border-radius: 2px;
  padding: 5px;
}

@media only screen and (max-width: 1340px) {
  .form h2 {
    font-size: calc(1.2605vw + 6.09244px);
  }
}

@media only screen and (max-width: 1250px) {
  .aboutCompany h1 {
    font-size: 21px;
  }
  .aboutCompany p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1020px) {
  .TellUs {
    top: 80px;
    flex-direction: column;
  }
  .aboutCompany {
    width: 100%;
    text-align: center;
  }
  .aboutCompany p {
    padding: 0 8%;
    font-size: 13px;
  }
  .form h2 {
    font-size: calc(0.56899vw + 18.17923px);
  }
  .form {
    width: 100%;
    padding: 15px;
  }
}
.cards {
  padding-left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  animation: infiniteCarousel 35s linear infinite;
}

.cards li {
  border-radius: 50%;
  background-color: #ffffff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 4%;
  height: 14rem;
  width: 20%;
  text-align: center;
  /* line-height: 18rem; */
  font-size: 2rem;
  font-family: sans-serif;
  flex: 0 0 auto;
  background-color: #f4f4f4;
}

.cards img {
  width: 100%;
}
.cards::after {
  content: "";
  display: flex;
  width: 100%; /* Matches the width of the container */
}

@media only screen and (max-width: 380px) {
  .aboutCompany h1 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .aboutContent {
    text-align: justify;
  }
  .advantagesCol {
    padding: 10px;
    width: 50%;
  }
  .mainDiv h1 {
    margin: 30px 0;
    font-size: 20px;
  }
  .cards li {
    height: 3rem;
  }
  /* .cards img {
    width: 250px;
  } */
}

@media only screen and (max-width: 462px) {
  .advantagesCol {
    padding: 10px;
    width: 100%;
  }
  .cards {
    animation: infiniteCarousel 20s linear infinite;
  }
  /* .cards img {
    width: 150px;
  } */
  .cards li {
    height: 3rem;
  }
}

.gallery {
  width: 100%;
  overflow: hidden;
}

@keyframes infiniteCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
