.nav {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo img {
    width: 170px;
}

.contactContainer {
    display: flex;
    justify-content: end;
    font-size: calc(0.84034vw + 5px);
    font-weight: 600;
    align-items: center;
    transition: color 0.2s;
    line-height: 40px;
}

.mobile {
    height: 28px;
    display: flex;
    align-items: center;
    margin-right: 24px;
    filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(284deg) brightness(102%) contrast(103%);
}

.envelop {
    height: 28px;
    display: flex;
    align-items: center;
    filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(284deg) brightness(102%) contrast(103%);
}

.envelop img {
    margin-right: 5px;
}

.bottomNavbar {
    height: 70px;
    background-color: rgb(0 0 0 / 65%);
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.3;
}

.headerList {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

a {
    color: white;
}

.headerList li {
    margin-right: 27px;
    font-size: calc(0.84034vw + 5px);
    font-weight: 600;
    transition: color 0.2s;
    line-height: 1.2;
    cursor: pointer;
}

.burger {
    display: none;
}

.burger img {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(284deg) brightness(102%) contrast(103%);
}

@media only screen and (max-width: 1020px) {
    .burger {
        display: block;
    }
    .headerList {
        display: none;
    }
    .contactContainer {
        display: block;
        font-size: calc(0.84034vw + 8px);
    }
    .logo img {
        width: 130px;
    }
    .headerListMobile {
        z-index: 1;
        position: absolute;
        width: 100%;
        top: 75px;
        left: 0;
        padding: 0;
        font-weight: 600;
        color: #141414;
        transition: color 0.2s;
        line-height: 1.2;
        cursor: pointer;
    }
    .headerListMobile li {
        background-color: #494848;
        height: 35px;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5%;
    }
}