.footer {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: left;
    padding: 0 5%;
    font-family: Open Sans, sans-serif;
    line-height: 1.5;
}

.footer p {
    font-size: 16px;
}

.mobile {
    height: 28px;
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.envelop {
    margin: 15px 0;
    height: 28px;
    display: flex;
    align-items: center;
}

.about {
    width: 40%;
    padding-right: 10px;
}

.businessArea {
    padding: 0 10px;
}

.contacts {
    padding-left: 10px;
}

.contacts img {
    margin-right: 10px;
    filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(284deg) brightness(102%) contrast(103%);
}

@media only screen and (max-width: 820px) {
    .about {
        display: none;
    }
}

@media only screen and (max-width: 520px) {
    .footer p {
        font-size: 12px;
    }
    .footer h3 {
        font-size: 15px;
    }
}