.App {
    text-align: center;
}

.container {
    width: 100%;
    /* margin-top: 90px; */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}